body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	background-size: cover;
	// background: url('/assets/beach.gif') no-repeat center center fixed;
	background-size: 100%;
	background: blue;
}

p {
	color: white;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: white;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	padding: 0px 15px;
	text-align: center;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	// background: linear-gradient(to top, #e92700, #f3903f, #ffb2a1);	
	margin: 20px;
	// height: 100vh;
	display: flex;
	flex-direction: column;
}
img {
	position: absolute;
}
time {
	color: #898989;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */
aside {
	position: fixed;
	top: 0;
	left: 0;
	// background: #fff;
	width: 100%;
	z-index: 2;
	// border-bottom: 1px solid lighten($light, 30%);
	// box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

footer {
	text-align: center;
	padding: 40px;
}

.footer-text {
	font-style: italic;
	color: white;
	font-family: 'Playfair Display', serif;
		
}

.logo-container {
	width: 100%;
	// background: rgba(255, 255, 255, .2);
	img {
		width: 50%;
		// padding: 30px 0;
		position: relative;
	}
}

.work-link {
	top: 0;
	left: 0;
}

.about-link {
	top: 0;
	right: 0;
}

.shop-link {
	bottom: 0;
	left: 0;
}

.contact-link {
	bottom:0;
	right:0;
}

.nav {
	color:white;
	border: 2px solid white;
	padding: 5px 5px 5px 20px;
	margin: 10px;
	font-size: 1rem;
}

.logo-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

@media (min-width: 600px) {
	.nav {
		position: fixed;
		margin: 20px;
		font-size: 2rem;
		padding: 10px;
	}

	.logo-container {
		position: absolute;
		top: 45%; 
	}
}

.waves-container {
	// position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.path {
  stroke-dasharray: 100;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}


.container {
	min-height: 600px;
	width: 100%;
	&:focus {
		outline: 0;
	}
}

#work {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#info {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#home {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}