<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<main>
		<nav>
			<h2 class="work-link nav"><a href="#work">WORK</a></h2>
			<h2 class="about-link nav"><a href="#info">WHO</a></h2>
			<h2 class="contact-link nav"><a href="#contact">HMU</a></h2>
			<h2 class="shop-link nav"><a href="#shop">SHOP</a></h2>
		</nav>
	

		<section class="container" id="home">
			<div>{% include sevenseaslogo.html %}</div>

		</section>
		<section class="container" id="info">
			<div>{% include who.html %}</div>
			<p> Seven Seas Digital House is a design studio run by creative partners Lina Zuluaga & Johnny Lyden.</p>
			<p>Through SSDH we seek to learn, experiment and try new technologies and ideas</p>
			<p>From wireframing to fast prototyping Seven Seas aims to 'build to fail fast' in a conceptually focused studio where our goal is to deliver and test ideas.</p> 
			<p>Open for comission work on a case-by-case basis.</p>
		</section>
		<section class="container">
		</section>


		<section class="container" id="work">
			<div>{% include projects.html %}</div>

		
		</section>



		<article>
			{{ content }}
		</article>
		{% include footer.html %}
	</main>
	<script>
		{% include main.js %}
	</script>
</body>

</html>